<div ng-app="fucknews" class="container" ng-controller="userReasons">
  	<p><%= name %></p>
	<div ng-repeat="reason in reasons">
		<div>{{ reason.content }}</div>
		<div>{{ reason.parent_news }}</div>
		<!-- <div>{{ reason.owner }}</div> -->
	</div>

</div>