<div ng-app="fucknews" class="container" ng-controller="userReports">
  	<p><%= name %></p>
	<div ng-repeat="report in reports">
		<div>{{ report.content }}</div>
		<div><a href="/news/show/{{report.rep_news}}">{{ report.rep_news }}</a></div>
		<!-- <div>{{ report.owner }}</div> -->
	</div>
</div>