
<form id="mailForm" method="post" action="/mailer/send">
	<input placeholder="title" id="title" name="title">
	<input placeholder="to" id="to" name="to" value="<%= email %>">
	<input type="hidden" value="<%=id%>" name="url">
    <textarea rows="4" cols="50"  type="textarea" name="content" form="mailForm" >我覺得這個新聞實在是很不好！<%= url %></textarea>
    <button type="submit">submit</button>
</form>