<div ng-app="fucknews" class="container" ng-controller="homepage">
  <form>
    <input ng-model="news.uri" type="text" placeholder="I want to fuck this news" value="">
    <button ng-click="submitNews()">submit</button>
  </form>
  <form>
  <form action="/logout" method="post">
    <input type="submit" value="Log Out"/>
  </form>
  <ul>
    <li><a href="/user/show/<%=user.id %>"><%= user.name %></a></li>
  </ul>
  <ul>
  <li ng-repeat="phone in phones | filter:query | limitTo:quantity | orderBy:orderProp">
    <li ng-repeat="news in newses | limitTo:5 | orderBy: 'hot' ">
      <a href="/news/show/{{ news.id }}">
        {{ news.title }}
      </a>
    </li>
  </ul>
</div>