<div ng-app="fucknews" class="container" ng-controller="homepage">
  <form>
    <input ng-model="report.url" type="text" placeholder="I want to report this news" value="">
    <button ng-click="submitReport()">submit</button>
  </form>
  <form>
    <input ng-model="reason.url" type="text" placeholder="I want to report this news" value="">
    <button ng-click="submitReason()">submit</button>
  </form>
  <form action="/logout" method="post">
    <input type="submit" value="Log Out"/>
  </form>
  <ul>
    <li><%= user_name %></li>
    <li><%= user_id %></li>
  </ul>
  <ul>
    <li ng-repeat="news in newses"><a href="/news/{{ news.id }}">news</a></li>
  </ul>
</div>