<div ng-app="fucknews" class="container" ng-controller="mainCtrl">
  <form ng-submit="submit()">
    <input type="text" placeholder="I want to report this news" ng-model="report.url" value="">
    <button ng-click="report">submit</button>
  </form>
</div>