<div ng-app="fucknews" class="container" ng-controller="news">
  <%= content %><br><br>
  <div><a href="/news/reportForm/<%=news.id%>">report it! ( {{ news.reports.length }} reports )</a></div>
  <ul><div>Comments:</div>
    <li ng-repeat="comment in news.comments">
      {{comment.content}}
      <a href="/user/show/{{comment.owner.id}}">{{comment.owner.name}}</a>
    </li>
    <form>
      <input ng-model="comment.content" type="text" placeholder="I want to comment this news" value="">
      <button ng-click="submitComment()">submit</button>
    </form>
  </ul>
  <ul>
    <li ng-repeat="reason in news.reasons">
      {{reason.content}}
      <a href="/user/show/{{reason.owner.id}}">{{reason.owner.name}}</a>
    </li>
    <form>
      <input ng-model="reason.content" type="text" placeholder="I want to reason this news" value="">
      <button ng-click="submitReason()">submit</button>
  </form>
  </ul>
</div>
