<div ng-app="fucknews" class="container" ng-controller="news">
  <%= content %>
  <a href="/news/reportForm/<%=news.id%>">report it!</a>
  <ul>
    <li ng-repeat="comment in news.comments">
      {{comment.content}}
      <a href="/user/show/{{comment.owner}}">{{comment.owner}}</a>
    </li>
  </ul>
  <ul>
    <li ng-repeat="reason in news.reasons">{{reason}}</li>
  </ul>
  <ul>
    <li ng-repeat="report in news.reports">{{report}}</li>
  </ul>
  <form>
    <input ng-model="report.content" type="text" placeholder="I want to report this news" value="">
    <button ng-click="submitReport()">submit</button>
  </form>
  <form>
    <input ng-model="reason.content" type="text" placeholder="I want to reason this news" value="">
    <button ng-click="submitReason()">submit</button>
  </form>
  <form>
    <input ng-model="comment.content" type="text" placeholder="I want to comment this news" value="">
    <button ng-click="submitComment()">submit</button>
  </form>
</div>
